.score {
    width: 14px;
    height: 14px;
    background-color: var(--color-old-silver);
    border: solid 1px var(--color-floral-white);
}

.score.-point {
    background-color: var(--color-mantis);
}