.face-card {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 160px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.face-card.-front {
    background-color: var(--color-dark-blue);
}

.face-card.-back {
    background-color: var(--color-fiery-rose);
    transform: rotateY(180deg);
}