.arrow-down {
    position: absolute;
    top: -18px;
    width: 20px;
    height: 15px;
    transition: transform 0.5s ease-in-out;
}

.arrow-down.-player1 {
    transform: translateX(-200%);
}

.arrow-down.-player2 {
    transform: translateX(200%);
}